name: build-ros-images

on:
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Run pipeline with Dagger Cloud
        uses: dagger/dagger-for-github@v8.2.0
        with:
          verb: run
          workdir: actions/build-ros-images
          args: uv run --locked python main.py
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
          version: latest
        env:
          DAGGER_CLOUD_TOKEN: ${{ secrets.DAGGER_CLOUD_TOKEN }}
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
          ALIYUN_PASSWORD: ${{ secrets.ALIYUN_PASSWORD }}
